<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/images/logo.png">

</head>

<body>
    <div class="home">
        {{>header}}
        {{status}}

    </div>
    {{>footer}}

</body>


</html>