<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/images/logo.png">

</head>

<body>
    <div class="home">
        {{>header}}
        <form>
            <input placeholder="location" id="btn">
            <button>Search</button>
        </form>

        <p id="m1"></p>
        <p id="m2"></p>

    </div>
    <a href="/pp" id="privacy">Privacy Policy</a>
    {{>footer}}
    <script src="/js/back-app.js"></script>

</body>


</html>